In [1]:
import pandas as pd

In [20]:
def print_(data):
    print(data,end= '\n'+'*'*30+'\n')

In [3]:
s=pd.Series([4,5,7,89])
s

0     4
1     5
2     7
3    89
dtype: int64

In [4]:
print(type(s))
print(s.dtype)
print(s.shape)
print(s.ndim)
print(s.size)

<class 'pandas.core.series.Series'>
int64
(4,)
1
4

In [5]:
s1=pd.Series([4,2,7,8,4,5,6,7,8,9],name='Data')
s1

0    4
1    2
2    7
3    8
4    4
5    5
6    6
7    7
8    8
9    9
Name: Data, dtype: int64

In [6]:
s1.size

10

In [7]:
s1[0]

4

In [8]:
print(s1[:4])

0    4
1    2
2    7
3    8
Name: Data, dtype: int64

In [15]:
print(s1[0])
print(s1[:4])

s1[0]=40
print(s1)

s1[4]=50
print(s1)

40
0    40
1     2
2     7
3     8
Name: Data, dtype: int64
0    40
1     2
2     7
3     8
4    50
5     5
6     6
7     7
8     8
9     9
Name: Data, dtype: int64
0    40
1     2
2     7
3     8
4    50
5     5
6     6
7     7
8     8
9     9
Name: Data, dtype: int64

In [11]:
pd.Series([[3,4,5,6],[4,6,7,3],[8,9,3,4]])

0    [3, 4, 5, 6]
1    [4, 6, 7, 3]
2    [8, 9, 3, 4]
dtype: object

In [12]:
s3=pd.Series({'a':145,'b':67,'c':11})
s3

a    145
b     67
c     11
dtype: int64

In [13]:
df = pd.DataFrame([[3,4],[5,6],[8,23]])
df

   0   1
0  3   4
1  5   6
2  8  23

In [16]:
print(type(df))
print(df.shape)
print(df.size)
print(df.ndim)

<class 'pandas.core.frame.DataFrame'>
(3, 2)
6
2

In [18]:
df2=pd.DataFrame({
    'a':[34,65,69],
     'b':[34,65,69],
      'c':[34,65,69],
       'd':[34,65,69],
       'e':'wow'
})
df2

    a   b   c   d    e
0  34  34  34  34  wow
1  65  65  65  65  wow
2  69  69  69  69  wow

In [19]:
s2=pd.Series(['a','b','c'])
s2

0    a
1    b
2    c
dtype: object

In [23]:
print_(df2['a'])
print_(df2.loc[0])
print_(df2.T)
print_(df2.T[0])

0    34
1    65
2    69
Name: a, dtype: int64
******************************
a     34
b     34
c     34
d     34
e    wow
Name: 0, dtype: object
******************************
     0    1    2
a   34   65   69
b   34   65   69
c   34   65   69
d   34   65   69
e  wow  wow  wow
******************************
a     34
b     34
c     34
d     34
e    wow
Name: 0, dtype: object
******************************

In [ ]:
#Statistical overview
s.min()
s.max()
s.std()
s.mean()
df.corr()
s.quantile(0.25)
s.idxmax()
s.idxmin()

String based function
Joining the Data
Sorting
Function Application
Iterations
Data Visualization
File Handling
Missing Data Treatment